/* Light text color on hover for elements with hover-text-light */
.hover-text-light:hover {
    color: #f8f9fa; /* Light text color on hover */
}

/* Custom background colors */
.bg-light-gray {
    background: #EBEBEB; /* light gray background */
}
.bg-off-white {
    background: #f3f3f3; /* light gray background */
}
.hover-bg-light-gray:hover {
    background: #f3f3f3; /* light gray background */
}
.bg-gray{
    background: #252525;

}
.btn-gray {
    background: linear-gradient(180deg, #151515, #393939);
    box-shadow: 0 1px #999;
    color:white;
    font-weight:bold;
    font-size:12px;
}

.btn-red {
    background: linear-gradient(180deg, rgba(174, 54, 54, 0.85), rgba(189, 44, 44, 0.85));
    box-shadow: 0 1px #999;
    color:white;
    font-weight:bold;
    font-size:12px;
}


.bg-light-black {
    background: rgb(28, 28, 28); /* Black background */
}
.bg-dark-gray {
    background: rgb(48, 48, 48); /* Black background */
}
.hover-bg-dark-gray:hover {
    background: rgb(57, 57, 57); /* Black background */
}


/* Custom placeholder text color */
.form-control::placeholder {
    color: #6c757d; /* Light gray color for placeholder text */
    opacity: 1; /* Ensures the color is applied */
}

.active {
    color: #02cf2a;
}
.form-label{
    width: 100px;
}
.no-margin
{
    margin:0;
    padding:0
}
.div-style
{
    background: white
}

.box-style
{
    width: 80px
}

