

/* Light text color on hover for elements with hover-text-light */
.hover-text-light:hover {
    color: #f8f9fa; /* Light text color on hover */
}
.hover-border:hover
{
    border-width: 5px;
}

.text-gray-200
{
    color: 	#787878;
}

.hover-border:hover
{
    border-width: 5px;
}

/* Custom background colors */
.bg-light-gray {
    background: #EBEBEB; /* light gray background */
}
.bg-off-white {
    background: #f3f3f3; /* light gray background */
}
.hover-bg-light-gray:hover {
    background: #f3f3f3; /* light gray background */
}
.button-hover
{
    color: Gray;
    background-color: transparent;
}

.bg-gray {
    background: #252525;

}
.btn-gray {
    background: linear-gradient(180deg, #151515, #393939);
    box-shadow: 0 1px #999;
    color:white;
    font-weight:bold;
    font-size:12px;
}
.search-container
{
    position: relative;
}

.bg-light-black {
    background: rgb(28, 28, 28); /* Black background */
}
.search-container .form-control
{
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
    position: absolute;
    right: 0;
}
.bg-dark-gray {
    background: rgb(48, 48, 48); /* Black background */
}
.search-container:hover .form-control
{
    width: 200px;
    opacity: 1;
}
.hover-bg-dark-gray:hover {
    background: rgb(57, 57, 57); /* Black background */
}
.search-icon
{
    cursor: pointer;
}


/* Custom placeholder text color */
.form-control::placeholder {
    color: #6c757d; /* Light gray color for placeholder text */
    opacity: 1; /* Ensures the color is applied */
}

.active {
    color: #02cf2a;

}
.warning {
    color: #a50404;
:#014B40;
}
