.hover-border:hover {
    border-width: 3px !important;
}

.text-gray-200 {
    color: 	#787878;
}

.hover-border:hover {
    border-width: 3px !important;
}

.button-hover{
    color: Gray !important;
    background-color: transparent !important;
}

.search-container {
    position: relative;
}

.search-container .form-control {
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
    position: absolute;
    right: 0;
}

.search-container:hover .form-control {
    width: 200px;
    opacity: 1;
}

.search-icon {
    cursor: pointer;
}
