

/* Light text color on hover for elements with hover-text-light */
.hover-text-light:hover {
    color: #f8f9fa; /* Light text color on hover */
}

/* Custom background colors */
.bg-light-gray {
    background: #EBEBEB; /* light gray background */
}
.hover-bg-light-gray:hover {
    background: #f3f3f3; /* light gray background */
}
.bg-gray{
    background: #252525;
}

.bg-light-black {
    background: rgb(28, 28, 28); /* Black background */
}
.bg-dark-gray {
    background: rgb(48, 48, 48); /* Black background */
}
.hover-bg-dark-gray:hover {
    background: rgb(57, 57, 57); /* Black background */
}


/* Custom placeholder text color */
.form-control::placeholder {
    color: #6c757d; /* Light gray color for placeholder text */
    opacity: 1; /* Ensures the color is applied */
}

